<%= render "shared/header" %>

<div class="products">
  <div class="therapist-product">
    <div class='therapist-img-content'>
      <%= image_tag @product.image, class: "show-therapist-img" if @product.image.attached? %>
    </div>

    <% breadcrumb :products, @product %>

    <div class='edit-link'>
      <% if therapist_signed_in? && current_therapist.id == @product.therapist_id %>
        <%= link_to 'プロフィールを編集', edit_product_path(@product.id), method: :get, class: "product-edit-btn" %>
        <%= link_to 'プロフィールを削除', product_path(@product.id), method: :delete, class:'product-destroy' %>
      <% end %>
    </div>

    <div class="product-box">
      <h4 class="info-text">【セラピスト氏名】</h4>
      <div class='therapist-information'>
        <%= @product.therapist.name %>
      </div>

      <h4 class="info-text">【持っている資格】</h4>
      <div class='therapist-information'>
        <%= @product.qualification[:name] %>
      </div>

      <h4 class="info-text">【活動している地域】</h4>
      <div class='therapist-information'>
        <%= @product.prefecture[:name] %>
      </div>

      <h4 class="info-text">【自己紹介】</h4>
      <div class='therapist-information'>
        <%= @product.self_introduction %>
      </div>

    </div>
  </div>
  <div class='reservation'>
    <% unless therapist_signed_in? %>
      <%= link_to '予約する', product_reservations_path(@product.id), class:"reservation-btn" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>